html,
body {
  background: var(--white);
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

abbr[title] {
  text-decoration: none;
}
